<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus Section</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/"><span data-translate="home">Home</span></a></li>
            <li><a href="/timer"><span data-translate="timer">Timer</span></a></li>
            <li><a href="/books"><span data-translate="books">Books</span></a></li>
            <li><a href="/search"><span data-translate="images">Images</span></a></li>
            <li><a href="/bonus"><span data-translate="bonus">Bonus</span></a></li>
            <li><a href="/weather"><span data-translate="weather">Weather</span></a></li>
            <li><a href="/admin"><span data-translate="admin">Admin</span></a></li>
            <li><a href="/logout"><span data-translate="logout">Logout</span></a></li>
        </ul>
    
        <!-- Language Selector -->
        <div class="language-selector-container">
            <select id="language-selector">
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select>
        </div>
    </nav>

    <div class="container">
        <h1>Bonus Features</h1>
        <p>Try our new features!</p>
        
        <ul>
            <li><a href="/quiz">🕒 Take the Timed Quiz</a></li>
            <li><a href="/result">📢 Share Your Score</a></li>
        </ul>
    </div>
    <script src="/translate.js"></script>    
    
    <footer>
        <p>Aibibi Nygymetolla, Ayala Zholdybaeva, Moldir Kapal</p>
        <p>IT-2307</p>
    </footer>
</body>
</html>
