<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Image Search</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><span data-translate="home">Home</span></a></li>
            <li><a href="/timer"><span data-translate="timer">Timer</span></a></li>
            <li><a href="/books"><span data-translate="books">Books</span></a></li>
            <li><a href="/search"><span data-translate="images">Images</span></a></li>
            <li><a href="/bonus"><span data-translate="bonus">Bonus</span></a></li>
            <li><a href="/weather"><span data-translate="weather">Weather</span></a></li>
            <li><a href="/admin"><span data-translate="admin">Admin</span></a></li>
            <li><a href="/logout"><span data-translate="logout">Logout</span></a></li>
        </ul>
    
        <!-- Language Selector -->
        <div class="language-selector-container">
            <select id="language-selector">
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select>
        </div>
    </nav>

    <div class="container">
            <h1>Motivational Image Search</h1>

        <section class="search-section">
            <form action="/search" method="POST" class="search-form">
                <label for="keyword" class="search-label">Search for images:</label>
                <input type="text" id="keyword" name="keyword" class="search-input" placeholder="Enter a keyword" required>
                <button type="submit" class="search-button">Search</button>
            </form>
        </section>

        <section class="results-section">
            <h2>Images for: "<%= keyword %>"</h2>
            <div class="images-container">
                <% if (images.length > 0) { %>
                    <% images.forEach(function(image) { %>
                      <img src="<%= image %>" alt="Image" style="width: 300px; margin: 10px;">
                    <% }); %>
                  <% } else { %>
                    <p>No images found.</p>
                  <% } %>
            </div>
        </section>

        <div class="history-link">
            <a href="/history">View Search History</a>
        </div>
    </div>
    <script src="/translate.js"></script>    

    <footer class="footer">
        <p>Aibibi Nygymetolla, Ayala Zholdybaeva, Moldir Kapal</p>
        <p>IT-2307</p>
    </footer>
</body>
</html>
