<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><span data-translate="home">Home</span></a></li>
            <li><a href="/timer"><span data-translate="timer">Timer</span></a></li>
            <li><a href="/books"><span data-translate="books">Books</span></a></li>
            <li><a href="/search"><span data-translate="images">Images</span></a></li>
            <li><a href="/bonus"><span data-translate="bonus">Bonus</span></a></li>
            <li><a href="/weather"><span data-translate="weather">Weather</span></a></li>
            <% if (username) { %>
                <% if (isAdminUser) { %>
                    <li><a href="/admin"><span data-translate="admin">Admin</span></a></li>
                <% } %>
                <li><a href="/logout"><span data-translate="logout">Logout</span></a></li>
            <% } else { %>
                <li><a href="/login"><span data-translate="login">Login</span></a></li>
            <% } %>
        </ul>
    
        <!-- Language Selector -->
        <div class="language-selector-container">
            <select id="language-selector">
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select>
        </div>
    </nav>
        

    <br>
    
    <div class="container">
        <h1>Weather Information</h1>

        <input type="text" id="city" placeholder="Enter city" />
        <button id="fetch-weather-btn">Get Weather</button>

        <div id="weather-info"></div>
    </div>

    <script src="weather.js"></script>

<!-- Include Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBelzthuaJ0R0KNoI-Car9ugecM6LrNcLo&callback=initMap&libraries=&v=weekly" async></script>

<!-- Map container -->
<div id="map" style="height: 400px; width: 100%;"></div>

<!-- Link to your weather.js file -->
<script src="weather.js"></script>
<script src="/translate.js"></script>    

<footer>
    <p>Aibibi Nygymetolla, Ayala Zholdybaeva, Moldir Kapal</p>
    <p>IT-2307</p>
</footer>

</body>
</html>
